* {
	border:none;
	margin:0px;
	padding:none;
	outline: none;
}

body {
	overflow: hidden;
	border: none;
	width:100%;
	height:100%;
	background-color:#f3f3f3;
}

/*#game-container {
	width: 810px;
	height: 100px;
	padding-top: 10px;
	background-color: #27ae60;
	-webkit-box-shadow: 0 30px 0 0 #066945;
	box-shadow: 0 30px 0 0 #066945;
}*/

#game-container {
	overflow: hidden;
}

